#gameImg {
  height: 126px;
  width: 224px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555;
}

#bookImg {
  height: 192px;
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555;
}
.card {
  padding-top: 10px;
}

.card-content {
  text-align: center;
  font-weight: bold;
}
#search {
  width: 30%;
  align-self: center;
}

#movieImg {
  height: 192px;
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555;
}

/* working css file */
